[Desktop Entry]
Encoding=UTF-8
Name=Link to AlphaGo: using machine learning to master the ancient game of Go
Type=Link
URL=https://blog.google/topics/machine-learning/alphago-machine-learning-game-go/
Icon=text-html
